body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrossel {
  margin-bottom: 20px;
}

#imagemPrincipal {
  width: 300px;
  height: auto;
}

.miniaturas {
  display: flex;
  gap: 10px;
}

.mini {
  width: 100px;
  cursor: pointer;
}
